.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 4px #00000033;
}
.appMenu {
  border: none;
}
.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
}
.shoppingCartIcon {
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.sortBar{
  display: flex;
  align-items: start;
  align-content: flex-start;
  margin-left: 10px;

}
.selectOption{
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
  align-items: center;

  
}
.appFooter {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
}
.itemCardImage {
  height: 150px !important ;
  object-fit: scale-down;
}
.itemCard,
.itemCardBadge {
  margin: 8px;
}
